*{
    margin: 0;
}
html,body{
    width: 100%;
    height: 100%;
    display: flex;
    height: auto;
    padding: 0;
}

header,nav,main{
    display: inline-block;
}

header{
    height: 100%;
    background-color: rgb(29,37,49);
    /* 因为图标都是fixed定位，header里面就没内容了，就没宽度了，只能指定一下宽度为图片的宽度，让图片视觉上是在header里面 */
    width: 100px;
}

nav{
    width: 250px;
    height: 100%;
    background-color: rgb(34,44,60);
    padding: 30px;
    box-sizing: border-box;
}

main{
   flex: 2 auto;
}

header img{
    display: block;
    margin: 10px;
}

.appIcon{
    position: fixed;
    top:0;
    left: 10px;
}

.bottomIcon{
    position: fixed;
    bottom: 0;
    left: 10px;
    display: flex;
    justify-content: space-around;
}

nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    color: rgb(183,192,205);
    line-height: 3em;
    font-weight: bold;
}

nav ul li:nth-child(1){
    color: rgb(72,83,101);
}

nav img{
    float: right;
    margin-top:15px ;
}